html, body{
    height:100%;
    width: 100%;

}

.background{
    display: flex;
    height: 100%;
    width:100%
    background: gray;
    flex-direction: column;
}

.header{
    height: 50px;
    width: 100%;
    background-color: #1F2937;
}

.footer{
    height: 50px;
    width: 100%;
    background-color: #1F2937;
    position: absolute;
    bottom: 0px;
}


.dark{
    background-color: #1F2937;
    flex: 1;
}

.white{
    background-color: white;
    flex: 1;
}

.grey{
    background-color: #E5E7EB;
    flex: 1;
}

p{
    color: red;
}